<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeechEase"
        tools:targetApi="31">
        <activity
            android:name=".PopOutActivity"
            android:exported="false" />
        <activity
            android:name=".Edit_cat_next"
            android:exported="false" />
        <activity
            android:name=".Edit_cat"
            android:exported="false" />
        <activity
            android:name=".Selection"
            android:exported="false" />
        <activity
            android:name=".add_cat"
            android:exported="false" />
        <activity
            android:name=".add_temp"
            android:exported="false" />
        <activity
            android:name=".profile_activity"
            android:exported="false" />
        <activity
            android:name=".fragment.template_next"
            android:exported="false" />
        <activity
            android:name=".NameChange"
            android:exported="false" />
        <activity
            android:name=".fragment.NewChat"
            android:exported="false" />
        <activity
            android:name=".Specificchat"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Change_Pass"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Home_Login"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Verification"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>